body {
    margin: 7px;
    padding: 0;
}


/***********************AŞAĞI YUKARI BUTONU********************************************/
.sqr-btn {
    border: none;
    color: white;
    padding: 10px 32px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: rgba(255, 255, 255, 0.541); 
    color: black; 
    border: 2px solid rgba(247, 109, 17, 0.678);
  }
  .button1:hover {
    background-color: rgba(247, 109, 17, 0.678);
    color: white;
  }
/*---------------------------------------------------------------------------------*/
/**/
/**/
/*****************************ANASAYFA HAKKIMIZDA BUTONU******************************/
.new-button {
    padding: 10px 91px;
    border-radius: 25px;
    color: white;
    text-decoration: none; /*altyazıyı sildik*/
    -webkit-box-shadow: 9px 0px 8px 5px rgba(255, 255, 255, 0.32); 
    box-shadow: 9px 0px 8px 5px rgba(255, 255, 255, 0.32);
}
.gradient {
    background: linear-gradient(90deg,rgb(247, 110, 17),rgba(0, 0, 0, 0.712));
}
/*---------------------------------------------------------------------------------*/
/**/
/**/
/*****************************SEPETE EKLE********************************************/
.btn{
    border: none;
    color: white;
    padding: 10px 159px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
}
.btn2{
    border: none;
    color: white;
    padding: 0px 60px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 1px solid rgba(92, 89, 88, 0.678);
  }
  .button2:hover {
    background-color: white;
    color: black;
    border: 1px solid rgb(0, 0, 0);
  }
/*-------------------------------------------------------------------------------------*/
/**/


}
.content {
    width: 800px;
    float: left;
}

.clear {
    clear: both;
}

.container {
    /* margin-top: 0px; */
    width: 1180px;
    /* height: auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    /* yada kısaca aşağıdaki iki satır */
    /* margin: 0 auto 0 auto; */
    /* margin: 0 auto; */
}
.card1 {
    width: 98%;
    float: left;
    padding: 1%;
    /* margin-right: 3%; */
    line-height: 8px;
    /* background-color: none; */
    border-radius: 0px;
    /* text-decoration-color:rgb(105, 105, 105, 0.514); */
    background-color: rgba(141, 133, 133, 0.171);
}
.card2 {
    width: 424px;
    float: left;
    height: 86px;
    /* padding: 5%; */
    margin-right: 1px;
    margin-top: 1px;
    background-color: rgb(126, 229, 218);
    border-radius: 0px;
}
.card2a {
    width: 215px;
    float: left;
    height: 86px;
    /* padding: 5%; */
    margin-right: 1px;
    margin-top: 1px;
    background-color: rgb(112, 204, 194);
    border-radius: 0px;
}
.card2b {
    width: 539px;
    height: 86px;
    float: left;
    /* padding: 5%; */
    /* margin-right: 1px; */
    margin-top: 1px;
    background-color: rgb(98, 179, 170);
    border-radius: 0px;

}

.card3 {
    width: 100%;
    float: left;
    /* background   -color: lightslategray; */
}
/* .container {
    height: 300px;
    width: 300px;
    padding: 10px;
    /* margin: 10px; bu satır kutuya çevresel olrak veirir */
    /* margin-top: 10px; */
    /* margin-left: 10px; */
    /* margin-bottom: 10px; */
    /* margin-right: 10px; */
    /* float: left; */
/* } */
